body{
    background-color: blue;
}
p{
    background-color: coral;
}
.fondoamarillo{
    background-color: darkgoldenrod;
}
#dos{
    background-color: darkred;
}
ul{
    border:solid;
}
li{
    border:solid;
    margin: 10px 20px;
    padding: 10px;
}